@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark mode for sections */
.dark-section {
    background-color: #1a1a1a; /* Dark background color */
    color: #ffffff; /* Light text color for better contrast */
  }
  
  .dark-section p,
  .dark-section h2,
  .dark-section h3 {
    color: #ffffff; /* Ensuring all text is visible */
  }
  
  .dark-section .bg-element {
    background-color: #2a2a2a; /* Slightly lighter dark for elements */
  }
  
  .dark-section .text-element {
    color: #ffffff;
  }
  

/* General Styling */

button {
  background-color: #50C878 !important;
  color: black !important;
  font-weight: bolder;
}

#contactSVG {
  background-color: #50C878 !important;
  color: black !important;
}

#signInButton {
  background-color: #5DADE2 !important;
}

#goBackButton {
  background-color: #5DADE2 !important;
}

#dropdownMenu {
  background-color: #5DADE2;
}

#dropdownMenu {
  background-color: #5DADE2 !important;
}

#dropdownList {
  background-color: #1a1a1a;
}

#dropdownList li {
  color: whitesmoke;
}

/* Palette
#50C878 Green (For Buttons)
#5DADE2 Blue (For Header)
#DED7CF Beige
#F5F5F5 Fresh Gray/White (For Background)
#1a1a1a Dark Mode (Darker)
#2a2a2a Dark Mode (Lighther)
*/