@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark mode for sections */
.dark-section {
    background-color: #1a1a1a; /* Dark background color */
    color: #ffffff; /* Light text color for better contrast */
  }
  
  .dark-section p,
  .dark-section h2,
  .dark-section h3 {
    color: #ffffff; /* Ensuring all text is visible */
  }
  
  .dark-section .bg-element {
    background-color: #2a2a2a; /* Slightly lighter dark for elements */
  }
  
  .dark-section .text-element {
    color: #ffffff;
  }
  

/* General Styling */

button {
  background-color: #98FF98 !important;
  color: black !important;
  font-weight: bolder;
}

#contactSVG {
  background-color: #98FF98 !important;
  color: black !important;
}

#signInButton {
  background-color: #85C5CF !important;
}

#goBackButton {
  background-color: #85C5CF !important;
}

#dropdownMenu {
  background-color: #85C5CF;
}

#dropdownMenu {
  background-color: #85C5CF !important;
}

#dropdownList {
  background-color: #1a1a1a;
}

#dropdownList li {
  color: whitesmoke;
}

/* Palette
#98FF98 Green
#85C5CF Blue
#DED7CF Beige
#1a1a1a Dark Mode (Darker)
#2a2a2a Dark Mode (Lighther)
*/